<hf-events>
    <p>Let there be events in here...</p>
    <p class="text-muted">In case the events don't show up, you can check at the <a href="https://trello.com/b/GHda069L/hackafe"
                                                                 target="_blank">official board</a></p>
</hf-events>
