<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <h2 class="page-header">
                Съобщения
            </h2>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.2.0</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="vert-space-30"></div>
        <!-- Blog Entries Column -->

        <h2 class="page-header">
            Събития
        </h2>

        <!-- First Blog Post -->
        <h2>
            <a href="#">Blog Post Title</a>
        </h2>
        <p class="lead">
            by <a href="index.php">Start Bootstrap</a>
        </p>
        <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
        <hr>
        <a href="blog-post.html">
            <img alt="" src="http://placehold.it/900x300" class="img-responsive img-hover">
        </a>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
        <a href="#" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a>

        <hr>

        <!-- Second Blog Post -->
        <h2>
            <a href="#">Blog Post Title</a>
        </h2>
        <p class="lead">
            by <a href="index.php">Start Bootstrap</a>
        </p>
        <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
        <hr>
        <a href="blog-post.html">
            <img alt="" src="http://placehold.it/900x300" class="img-responsive img-hover">
        </a>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
        <a href="#" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a>

        <hr>

        <!-- Third Blog Post -->
        <h2>
            <a href="#">Blog Post Title</a>
        </h2>
        <p class="lead">
            by <a href="index.php">Start Bootstrap</a>
        </p>
        <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
        <hr>
        <a href="blog-post.html">
            <img alt="" src="http://placehold.it/900x300" class="img-responsive img-hover">
        </a>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
        <a href="#" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a>

        <hr>

        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">← Older</a>
            </li>
            <li class="next">
                <a href="#">Newer →</a>
            </li>
        </ul>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <div class="vert-space-30"></div>

        <div class="panel panel-default">
            <div class="panel-heading"><h5>Who is in the lab?</h5></div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><i>TBA</i></li>
                    <li><i>TBA</i></li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h5>Бюлетин:</h5></div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="post" target="_blank" action="//hackafe.us12.list-manage.com/subscribe/post?u=013ba89dde7a5824ed1254194&id=92b3ddb609">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="EMAIL" placeholder="e-mail:" required>
                        <input type="hidden" name="htmlemail" value="1">
                        <input type="hidden" name="list[2]" value="signup">
                        <input type="hidden" name="listname[2]" value="newsletter">
                    </div>
                    <button type="submit" class="btn btn-default">Записване</button>
                </form>
            </div>
        </div>

        <div class="fb-page" data-href="https://www.facebook.com/hackafe-plovdiv" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/hackafe-plovdiv"><a href="https://www.facebook.com/hackafe-plovdiv">Hackafe Plovdiv</a></blockquote></div></div>

        <div id="photos"></div>
        <iframe src="//embedsocial.com/facebook_album/album_photos/899040993477769" width="" height="960" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>

    </div>
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>Искаш да се развихриш и да покажеш колко технологично си напреднал? Включи се в разработката на сайта!</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="https://github.com/hackafe/website" target="_blank">Включи се!</a>
        </div>
    </div>
</div>

<hr>
