<div id="announcements" class="main-container">

<div id="ann-main-container">

    <div id="ann-head-tittle"><%= I18n.t('announcements.announcement')  %></div>

        <nav id="ann-navigation">

            <a href="#"><%= I18n.t('announcements.abouthackafe') %></a>
            <a href="#"><%= I18n.t('announcements.paid')  %></a>
            <a href="#"><%= I18n.t('announcements.free')  %></a>

        </nav>

    <div id="ann-content">


        <div class="ann-text">

            <p class="date">Дата: 28.12.2014</p>
            <p><%= I18n.t('announcements.description')  %></p>
            <p class="fb-link">Контакти: 8345629836836</p>

        </div>

        <div class="ann-text">

            <p class="date">Дата</p>
            <p > <%= I18n.t('announcements.description')  %></p>
            <p class="fb-link">Контакти</p>

        </div>

    </div><!-- end . -->


</div><!-- end . -->

</div> <!-- end of .main-container -->