<div id="contacts" class="main-container">
    <section id="location">
        <article>
            <div class="clearfix">
                <div>
                    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d739.5037573572197!2d24.74459672925925!3d42.14996519870011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1bdcb770685%3A0x13ef2bada753179e!2z0YPQuy4g4oCe0J7Qv9GK0LvRh9C10L3RgdC60LDigJwgMTMsIDQwMDAg0J_Qu9C-0LLQtNC40LI!5e0!3m2!1sbg!2sbg!4v1472457757989" allowfullscreen></iframe>
                </div><!-- End of tabOne -->
            </div>
            <div class="content clearfix">
                <header class="clearfix">
                    <h2><%= I18n.t('contacts.contacts') %></h2>
                    <address>
                      <%= I18n.t('contacts.org') %><br>
                      <%= I18n.t('contacts.loc') %>
                    </address>
                </header>

                <h3><%= I18n.t('contacts.email') %></h3>
                <span class="mail"><%= I18n.t('contacts.chief') %></span>
                <a href="mailto:info@hackafe.org" title="info@hackafe.org">info@hackafe.org</a><br>
                <span class="mail"><%= I18n.t('contacts.events') %></span>
                <a href="mailto:events@hackafe.org" title="events@hackafe.org">events@hackafe.org</a><br>
                <span class="mail"><%= I18n.t('contacts.finance') %></span>
                <a href="mailto:finance@hackafe.org" title="finance@hackafe.org">finance@hackafe.org</a><br>
            </div>

        </article>
    </section>
</div> <!-- end of .main-container -->
