<div class="footer-container">
    <footer>
        <div class="footerContent">
            <h2><a href="index.html" title="Hackafe Plovdiv"><img src="app/img/hackafe.png" alt="Hackafe Plovdiv"></a></h2>

            <ul>
				<li><a href="app/img/logo/logo.zip" rel="external" target="_blank" title="<%= I18n.t('footer.getLogo') %>"><%= I18n.t('footer.getLogo') %></a></li>
                <li><a href="https://github.com/hackafe" rel="external" target="_blank" title="GitHub"><img src="app/img/icon-github-120.png" alt="GitHub"></a></li>
                <li><a href="https://www.facebook.com/HackafePlovdiv" rel="external" target="_blank" title="Facebook"><img src="app/img/facebook.jpg" alt="Facebook"></a></li>
                <!-- <li><a href="https://twitter.com/HackafeLab" rel="external" title="Twitter"><img src="app/img/twitter.jpg" alt="Twitter" /></a></li>
                <li><a href="https://www.linkedin.com/groups/Hackafe-Plovdiv-5052334/" rel="external" title="In"><img src="app/img/in.jpg" alt="In" /></a></li> -->
                <li><a href="https://plus.google.com/communities/115253348615312776646" target="_blank" rel="external" title="Google +"><img src="app/img/google.jpg" alt="Goolgle +" /></a></li>

            </ul>

            <div id="newsletter-form-placeholder"></div>

            <div class="clear"></div>
          </div>

    </footer> <!-- footer -->
</div> <!-- footer-container -->
