<div id="projects" class="main-container">
    <header>
        <h1 class="page-title"><%= I18n.t('projects.title') %></h1>
    </header>

    <div class="project-view">
        <h2>Hackafe Mobile App</h2>
        <div class="project-links">
            Project Lead: Geno Roupsky<br>
            <a href="https://github.com/Hackafe/mobile-app">Github repository</a><br>
            <a href="http://frm.hackafe.org/t/hackafe/242">Forum link</a>
        </div>

        <p class="project-description">
            Build with cordova, ionic and bower html/js application to provide native mobile application for the Hackafe's forum.
        </p>
    </div>

    <div class="project-view">
        <h2>Sync Settings for Atom</h2>
        <div class="project-links">
            Project Lead: Geno Roupsky<br>
            <a href="https://github.com/Hackafe/atom-sync-settings">Github repository</a>
        </div>

        <p class="project-description">
           Synchronize package settings, keymap and installed packages across Atom instances.
        </p>

        <h2>Features</h2>
        <ul>
            <li>sync package configuration</li>
            <li>sync installed packages</li>
            <li>sync user keymap file</li>
            <li>manual upload/download to a gist (automatic on the roadmap)</li>
        </ul>
    </div>

    <div class="project-view">
        <h2>Who Is In The Lab</h2>
        <div class="project-links">
            Project Lead: Rangel Ivanov<br>
            <a href="https://github.com/Hackafe/WhoIsInTheLab">Github repository</a><br>
            <a href="https://github.com/ironsteel/lab-registration">Github repository - lab registration</a>
        </div>

        <p class="project-description">
           Simple Web API which scans the network and provides number of active devices as well as a list of people available based on the MAC addresses of their devices. You can see it currently integrated in our website.<br>
           Sub project: Hackafe device registration form for WhoIsInTheLab written in GO.
        </p>

    </div>

    <div class="project-view">
        <h2>[Project] RC Car</h2>
        <div class="project-links">
            Project Leads: Geno Roupsky and Vasil Kalkov<br>
            <a href="http://frm.hackafe.org/t/project-rc-car/210">Forum Link</a>
        </div>

        <p class="project-description">
           Remote controlled car via WIFI communication.<br>
           Used technologies:
        </p>

        <ul>
            <li>Controll and WIFI - <a href="https://www.olimex.com/Products/Modules/Ethernet/MOD-WIFI-ESP8266-DEV">MOD-WIFI-ESP8266-DEV13</a></li>
            <li>Power module - <a href="https://www.olimex.com/Products/Power/USB-PWR">USB-PWR5</a></li>
            <li>Engine control - <a href="https://www.olimex.com/Products/RobotParts/MotorDrivers/BB-L298">    BB-L2986</a></li>
        </ul>

    </div>

    <div class="project-view">
        <h2>Flyver Ver UI Drone Controll</h2>
        <div class="project-links">
            Project Leads: Samuil Gospodinov and Peter Petrov<br>
            <a href="https://github.com/samuil4/Flyver-Ver-UI-Drone-Controll">Github repository</a><br>
            CONTRIBUTERS WANTED!
        </div>

        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/09K2vZuOU6Y" frameborder="0" allowfullscreen></iframe>
        </div>

        <p class="project-description">
           Simple user interface implementing Flyver communication, telemetry and control of a Flyver powered drone. The project uses node.js for communication between the flyver drone and the client application.
        </p>

    </div>
</div> <!-- end of .main-container -->