<div id="sponsors" class="main-container">

    <section class="sponsors-list">
        <header>
            <h1 class="page-title"><%= I18n.t('sponsors.title_current') %></h1>
        </header>

        <div class="sponsor-content ">
            <a href="http://programista.bg/" title="Programista" target="_blank">
                <img src="app/img/sponsors/programista.png" height="100" alt="">
            </a>

            <a href="http://alien-hosting.com/" title="Alien Hosting" target="_blank">
                <img src="app/img/sponsors/alien_hosting.png" height="100" alt="Alien Hosting">
            </a>

			<a href="http://flyver.co/" title="Flyver - CREATE DRONE APPS" target="_blank">
                <img src="app/img/sponsors/flyver_logo.png" height="80" alt="Flyver - CREATE DRONE APPS">
            </a>
			
			<a href="http://www.teenlife.bg/" title="TeenLife" target="_blank">
                <img src="app/img/sponsors/TeenLife.png" height="80" alt="TeenLife">
            </a>

		</div>
    </section>
<section class="sponsors-list">
        <header>
            <h1 class="page-title"><%= I18n.t('sponsors.title_previous') %></h1>
        </header>

        <div class="sponsor-content ">


            <a href="http://www.idit.bg/" title="IDIT BG" target="_blank">
                <img src="app/img/sponsors/idit_web_logo.png" height="100" alt="">
            </a>

            <a href="http://www.sbtech.com/" title="SB Tech" target="_blank">
                <img src="app/img/sponsors/logo-sbtech.png" height="100" alt="SBTECH">
            </a>

            <a href="http://www.viscomp.bg/" title="VisComp" target="_blank">
                <img src="app/img/sponsors/logo_viscomp.jpg" height="100" alt="VisComp">
            </a>

        </div>
    </section>
	<section class="sponsors-list">
        <header>
            <h1 class="page-title"><%= I18n.t('sponsors.partners') %></h1>
        </header>

        <div class="sponsor-content ">
			<a href="http://tri-soft.net/" title="Tri Soft" target="_blank">
                <img src="app/img/sponsors/tri_soft.jpg" height="100" alt="Tri Soft">
            </a>
			 <a href="http://www.masconsult.eu/" title="MASConsult" target="_blank">
                <img src="app/img/sponsors/masconsult_logo.png" height="100" alt="MAS Consult">
            </a>

            <a href="http://www.brosix.com" title="BROSIX" target="_blank">
                <img src="app/img/sponsors/brosix_logo.png" height="100" alt="BROSIX">
            </a>
			<a href="http://bizlabs.eu/en/" title="BIZLABS" target="_blank">
                <img src="app/img/sponsors/BizLabs.png" height="100" alt="BIZLABS">
            </a>
			<a href="http://mediacafe.bg/" title="Media Cafe" target="_blank">
                <img src="app/img/sponsors/logo_mediacafe.png" height="100" alt="">
            </a>
			<a href="http://codicamp.org/" title="CodiCamp" target="_blank">
                <img src="app/img/sponsors/codicamp.png" height="100" alt="">
            </a>

        </div>
    </section>
    <section class="sponsors-list">
        <header>
            <h1 class="page-title"><%= I18n.t('sponsors.our_goals_title') %></h1>
        </header>

        <div class="sponsor-content">
            <%= I18n.t('sponsors.how_to_become') %>
            <%= I18n.t('sponsors.our_goals') %>
        </div>
    </section>

    <section class="sponsors-list">
        <header>
            <h1 class="page-title"><%= I18n.t('sponsors.how_to_title') %></h1>
        </header>

        <div class="sponsor-content">
            <p><%= I18n.t('sponsors.how_to_become') %></p>
            <%= I18n.t('sponsors.list_of_stuff') %>
        </div>
    </section>
    <!-- end of section .events -->

</div> <!-- end of .main-container -->